<p style="color: green"><%= notice %></p>

<div class="header">
  <h1>Bike points</h1>
  
  <p>Digite um endereço:</p>
  <div class="form-content">
    <%= form_tag(bike_points_path(@bike_point), method: :get) do %>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag("Buscar") %>
    <% end %>
  </div>
</div>

<br>
<p>Seu endereço:</p>
<%= render "geolocation" %>

<p>Lista dos locais mais próximos:</p>
<!-- <div id="bike_points"> -->
<div class="accordion " id="accordionExample"></div>
  <% @bike_points.each do |bike_point| %>
    
    <%= render bike_point %>
    
  <% end %>
</div>

<%= link_to "New bike point", new_bike_point_path %>
