<p style="color: green"><%= notice %></p>

<%= render @bike_point %>

<div>
  <%= link_to "Edit this bike point", edit_bike_point_path(@bike_point) %> |
  <%= link_to "Back to bike points", bike_points_path %>

  <%= button_to "Destroy this bike point", @bike_point, method: :delete %>
</div>
